@using Microsoft.AspNetCore.Identity
@using evan.ninetyfivetees.web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item account"><a asp-area="" asp-controller="Manage" asp-action="Index">Hello @UserManager.GetUserName(User)!</a></li>
    <li class="nav-item account"><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
}
else
{
    <li class="nav-item account"><a asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a></li>
    <li class="nav-item account"><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
}
