@model IEnumerable<evan.ninetyfivetees.web.Models.Shirts>
@{
    ViewData["Title"] = "Home";
}


<div class="siema">
    @foreach (Shirts item in Model)
    {
        <div class="slide-item" style="background-image:url(@item.Design.Image)">
            <h1>@item.Title</h1>
        </div>
    }
</div>