@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="manage-account">
    <nav class="sidebar">
        <ul class="nav">
            <li>
                <a asp-controller="Manage">My Account</a>
            </li>
            <li>
                <a asp-controller="Manage" asp-action="ChangePassword">Change Password</a>
            </li>
            <li>
                <a href="#">Cart</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </nav>
    @RenderBody()
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
