@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="account-overview">
    <h1>@Model.Email</h1>
    <div style="width: 100%;height: 1000px; background-color:#fff">hello</div>
</div>

