@{
    ViewData["Title"] = "Looks Like You Shouldn't Be Here";
}

<header style="text-align: center" class="noaccess-page">
    <div class="image">
        <img src="~/images/police.svg" />
    </div>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">You do not have access to this page.</p>
    <a href="/">Return Home</a>
    <a href="/merch">Return to Shop</a>
</header>