@{
    ViewData["Title"] = "Looks Like You Souldn't Be Here";
}

<header style="text-align: center">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">You do not have access to this page.</p>
</header>
