.shop {
    width: 100%;
    height: auto;
    display: block;
    padding: 15px;
}

.shop::after {
    content:'';
    display: table;
    clear: both;
}

    .shop .shop-card {
        width: calc((100% / 4) - 20px);
        margin: 10px;
        display: block;
        text-decoration: none;
        color: #333;
        border: solid 1px transparent;
        float: left;
    }

    .shop .shop-card:hover {
        border-color: #ddd;
    }

        .shop .shop-card .image {
            height: 200px;
            width: 100%;
            background-size: cover;
            background-position: center center;
        }

        .shop .shop-card .title {
            height: auto;
            width: 100%;
        }

            .shop .shop-card .title h2 {
                margin: 0;
                text-align: center;
                padding: 10px 0;
            }

        .shop .shop-card .description {
            height: auto;
            width: 100%;
        }

        .shop .shop-card .description p {
            min-height: 90px;
            width: 90%;
            margin: 10px auto;
        }

            .shop .shop-card .description .description-list {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            .shop .shop-card .description .description-list li {
                text-align: center;
                padding: 10px 0;
                margin: 0;
                border: solid 1px #ddd;
                border-bottom-color: transparent;
            }

                .shop .shop-card .description .description-list li:nth-last-child(1) {
                    border-bottom-color: #ddd;
                }