@import './utilities/reset';
@import './components/navbar';
@import './components//slider';
@import './components/buttons';
@import './components/shop.items';

.slide-item .overlay {
    .content {
        position: absolute;
        bottom: 50px;
        left: 50px;
        color: #ffffff;
        max-width: 300px;

        .title {
            font-size: 20px;
        }

    }
}